
.main{
    background-color: rgb(255, 255, 255);
    width: 78.5vw;
    height: 100vh;
    text-align: center;
    margin: auto;
    border: 2px solid rgb(215, 215, 215);
}

.logo{
    position: fixed;
    top: 30px;
    width: 17vw;
    height:15vh;
    margin: auto;
    left: 200px;
}




